{% extends "base.html" %}
{% block title %}Login - Smart Attendance Manager{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4">
            <h2 class="text-center mb-4">Login 🔐</h2>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button class="btn btn-primary w-100">Login</button>
            </form>
            <hr>
            <small class="text-muted">Demo Student: student@college.com / student123</small>
            <small class="text-muted">Demo Admin: admin@college.com / admin123</small>
        </div>
    </div>
</div>
{% endblock %}
